/* src/assets/styles/main.css or within a <style> tag in a .vue file */
:root {
  --header-total-height: 50px;
}

@font-face {
  font-family: "Fredoka";
  src: url("./assets/fonts/fredoka/Fredoka-Regular.ttf") format("truetype");
  font-display: auto;
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fredoka", sans-serif;
}
