/* src/assets/styles/main.css or within a <style> tag in a .vue file */
@font-face {
  font-family: 'Fredoka';
  src: url('./assets/fonts/fredoka/Fredoka-Regular.ttf') format('truetype');
  font-display: auto;
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Fredoka', sans-serif;
}